body {
    color: #fff;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url(/static/images/python.jpg) center / cover no-repeat;
    filter: blur(0.1px);
}

.blurry-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items:center;
}

.centered-box {
   centered-box {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px; /* Уменьшите внутренний отступ блока */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px; /* Ограничьте максимальную ширину блока */
    max-height: 80vh; /* Ограничьте максимальную высоту блока */
    overflow-y: auto; /* Добавьте вертикальную прокрутку, если контент не влазит */
}


}

