/* Стили для формы */
form {
    max-width: 310px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
h1 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
    color: #333;
}

/* Изменяем цвет галочек */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000; /* Черная рамка для галочек */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    vertical-align: middle;
    background-color: transparent; /* Убираем задний фон */
    position: relative;
}

/* Создаем галочку внутри галочки */
input[type="checkbox"]::before {
    content: '\2713'; /* Знак галочки Unicode */
    font-size: 16px;
    color: #000; /* Черный цвет галочки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Галочка изначально скрыта */
    transition: opacity 0.3s ease-in-out;
}

/* Показываем галочку и зеленую рамку при выборе */
input[type="checkbox"]:checked::before {
    opacity: 1; /* Показываем галочку */
}

input[type="checkbox"]:checked {
    border-color: #1ecc71; /* Зеленая рамка при выборе */
}

/* Стили для кнопок "Сохранить" и "Начать парсинг" */
.button {
    display: inline-block;
    width: 130px; /* Фиксированная ширина кнопок */
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    border: 2px solid #333; /* Черная рамка */
}

/* Изменяем цвет текста на зеленый, фон на белый, и рамку на зеленую при наведении */
.button:hover {
    background-color: #fff; /* Белый фон при наведении */
    color: #2ecc71; /* Зеленый текст при наведении */
    border-color: #2ecc71; /* Зеленая рамка при наведении */
}
